*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin-left: 1em;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
}

h3{
    margin-top: 1em;
    margin-left: 1em;
    font-family: 'Indie Flower', cursive;
}

input{
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em;
    font-family: 'Raleway', sans-serif;
}

button{
    border: none;
    border-radius: 25px;
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;

}